.todo-insert{
    display: flex;
    background: #495057;

    //입력창 디자인
    input{
        background: none;
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1.125rem;
        line-height: 1.5;
        color: white;


        &::placeholder{
            color: #dee2e6;
        }

        flex: 1;

    }

    //버튼 디자인
    button {
        background: #868e96;
        outline: none;
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.5rem;
        line-height: 1.5;
        color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.1s background ease-in;
        &:hover {
            background: #adb5bd;
        }
        
    }
}