$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;

//믹스인-재사용되는 스타일 블록을 함수처럼 사용 가능
@mixin square($size){
    $calculated: 32px*$size;
    width: $calculated;
    height: $calculated;
}

.SassComponent{
    display: flex;
    .box{
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;

        &.red{
            background: $red;
            @include square(1);
        }
        &.orange{
            background: $orange;
            @include square(2);
        }
        &.yellow{
            background: $yellow;
            @include square(3);
        }
        &:hover{
            background: black;
        }
    }
}
